<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="scan_topic" default="/slambot/laser/scan"/>

  <!--Bringup-->
  <!-- <include file="$(find slambot_bringup)/launch/slambot_remote.launch">
    <arg name="model" value="slambot" />
  </include> -->


  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find slambot_simulation)/launch/slambot_gmapping.launch">
    <arg name="set_scan_topic" value="$(arg scan_topic)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find slambot_simulation)/rviz/slambot_gmapping.rviz"/>
  </group>
</launch>
